<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
     <router id="standard">
        <route frontName="mymodule" id="mymodule">
            <module name="Thecoachsmb_Mymodule"/>
        </route>
        <route frontName="students" id="students">
            <module name="Thecoachsmb_Mymodule"/>
        </route>
    </router>
</config>