.greet {
    color: rgb(252, 252, 252);
    font-weight: bolder;
    font-size: larger;
}

/* Custom CSS for Nav link */
.header.panel > .header.links > li > a.about-link,
.header.panel > .header.links > li > a.news-link,
.header.panel > .header.links > li > a.resources-link,
.header.panel > .header.links > li > a.contact-link {
    color: yellow !important;
}

.header.panel > .header.links > li > a.about-link:hover,
.header.panel > .header.links > li > a.news-link:hover,
.header.panel > .header.links > li > a.resources-link:hover,
.header.panel > .header.links > li > a.contact-link:hover {
    color: rgb(86, 214, 35) !important;
}
